@import url('https://fonts.googleapis.com/css?family=Arima+Madurai|Josefin+Sans|Montserrat|Muli|Raleway|Roboto+Mono');

html, body {
    width: 100%;
    height: 100%;
}

body {
	margin-top: 7%;
	color: #555;
	text-align:center;
	font-family: 'Raleway', sans-serif;
}
.box {
	box-shadow: 0 0 1px #999;
	width: 359px;
	margin: auto;
	transition: .6s ease;
	overflow: hidden;
}
.box:hover {
	background-color: #efe;
}
p {
	font-size: 60px;
	font-family: 'Roboto Mono', monospace;
	box-shadow: 0 0 1px #555;
	width: 306px;
	margin: 50px auto;
	color: #555;
	transition: .6s ease;
}
p:hover {
	background-color: #cfd;
}
ul {
	margin: 10px auto;
	width: 306px;
	overflow: hidden;
	max-height: 165px;
	text-align:center;
}
li {
	position: relative;
	right: 18px;
	list-style: none;
	font-size: 28px;
	text-align:center;
	color: #555;
}
li:nth-child(odd){
	background-color: #eee;
}
button {
	margin-bottom: 50px;
	width: 100px;
	border: hidden;
	outline: none;
	text-align:center;
	font-size: 35px;
	background-color: #fff;
	color: #555;
	box-shadow: 0 0 1px #999;
	font-family: 'Josefin Sans', sans-serif;
	padding-top: 6px;
	transition: 1s ease;
}
button:hover {
	background-color: #cfd;
}
#start{
	width: 204px
}
#stop{
	display: none
}
#lap {
	display: none;
}
#clear {
	display: none;
	margin: auto;
	width: 204px;
}

/*fonts
font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Muli', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Arima Madurai', cursive;
*/
.footer {
    position: absolute;
    bottom: 0;
    margin: auto;
    text-align: center;
    width: 100%;
}
#name{
    float: left;
    margin: 25px;
}
#edit {
    float: right;
    margin: 25px;
}
#edit-link {
    text-decoration: none;
    cursor: pointer;
    color: #555;
    transition: 1s ease;
}
#edit-link:hover {
    color: #018ABE;
}
